.loginScreen {
  position: relative;
  height: 100%;
}

.loginScreen_button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50912;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.loginScreen_logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}
