.profileScreen {
  height: 100vh;
  color: white;
}

.profileScreen_body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 8%;
  max-width: 800px;
}

.profileScreen_info {
  display: flex;
}

.profileScreen_details {
  color: white;
  margin-left: 25px;
  flex-grow: 1;
}

.profileScreen_body > h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profileScreen_details > h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}

.profileScreen_signOut {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  color: white;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.profileScreen_plans {
  margin-top: 20px;
}

.profileScreen_plans > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

.profileScreen_info > img {
  height: 100px;
}
