.row {
  color: white;
  margin-left: 20px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  max-height: 120px;
  margin-right: 10px;
  width: 100%;
  transition: transform 450ms ease-in-out;
}

.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}

.flex_data {
  display: flex;
  flex-direction: column;
}
